[Desktop Entry]
Version=1.0
Name=ExcaliDraw
Comment=Web Application
Exec=brave --app=https://excalidraw.com/
Terminal=false
Type=Application
Icon=/home/sijan/.local/share/applications/icons/excalidraw.png
Categories=WebApp;
StartupNotify=true
X-WebApp=true
