[Desktop Entry]
Version=1.0
Name=Youtube
Comment=Web Application
Exec=brave --app=https://www.youtube.com
Terminal=false
Type=Application
Icon=/home/sijan/.local/share/applications/icons/youtube.png
Categories=WebApp;
StartupNotify=true
X-WebApp=true
